GEMINI_API_KEY=修改为你的真实API_KEY
GEMINI_MODEL=gemini-3.1-flash-lite-preview
PORT=3179

# Database Configuration
# Options: 'sqlite' (no setup needed) or 'postgres' (high performance, requires Docker/Local Postgres)
DB_DIALECT=sqlite

# PostgreSQL details (Needed if DB_DIALECT=postgres)
DB_HOST=localhost
DB_USER=postgres
DB_PASS=postgres_password
DB_NAME=huabobo
DB_PORT=5432

# Authentication
JWT_SECRET=随便写点复杂字符串作为安全密钥_请勿泄露!
